<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
		<h1>Bienvenido!</h1>
        Palabra: <input type="text" id="palabra" name="palabra" /><br />
        <input type="submit" id="buscarPalabra" value="Buscar" />
		<script src="assets/index.js"></script>
        <h3>Documentos</h3>
        <div id="documentsContainer">
            <div id="documents">
            
            </div>
        </div>
	</body>
</html>